@import url(../css/normalize.css);
html {
  box-sizing: border-box;
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: acumin-pro, sans-serif;
  font-size: 100%;
  color: #1f1f1f;
}
a,
button {
  transition: all 0.3s ease;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.home-page__container {
  max-width: 1420px;
  margin: 0 auto;
}


.home-page__intro {
  display: flex;
  flex-direction: column;
}


.home-page__banner {
  align-self: center;
  width: 100%;
  justify-content: center;
  order: 2;
  background-image: url("../img/home-page-intro.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.home-page__blurb {
  position: relative;
  width: 100%;
  /* border: 1px solid black; */
  background-position: -7rem -7rem;
  justify-content: center;
  background-image: url("../img/home-page-ellipse-light-gray.svg");
  background-repeat: no-repeat;
  background-size: 121%;
  order: 1;
}

.home-page__blurb-header {
  display: flex;
  flex-direction: row;
}

.home-page__blurb-content {
  display: flex;
  flex-direction: column;
  margin-left: 6em;
  margin-top: 10rem;
  width: 60%;
}

.intro__blurb-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.intro__blurb-header--regular {
  font-size: 2.5em;
}

.intro__blurb-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 2.5em;
}

.home-page__banner > img {
  visibility: hidden;
}

#yellow-donut {
  display: none;
}

#yellow-donut {
  display: none;
}

#blue-ellipse {
  display: none;
  width: 80px;
  height: 80px;
}

.intro__blurb-learn {
  padding-top: 1.5rem;
  width: 30%;
  cursor: pointer;
}



/* ----------- iPad Pro 10.5" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__intro {
      flex-direction: row;
      
    }
  
    .home-page__blurb {
      background-size: 125%;
    }

    .home-page__banner {
      margin-top: 7vh;
    }

    .home-page__banner > img {
      width: 100%;
    }
  
    .home-page__blurb-content {
      margin-left: 2.7em;
      margin-top: 8em;
      width: 60%;
    }

    #blue-ellipse {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      margin-top: 22em;
      margin-left: 20em;
    }
  
    #shape-blue-black {
      position: absolute;
      bottom: -7vh;
      right: 0;
      display: block;
      width: 11%;
      z-index: 2;
    }

    .intro__blurb-description {
      font-size: 0.7em;
    }

    .intro__blurb-header--regular {
      font-size: 2em;
    }

    .intro__blurb-header--orange {
      font-size: 2em;
    }
}

/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__intro {
      flex-direction: row;
      
    }
  
    .home-page__blurb {
      background-size: 135%;
    }

    .home-page__banner {
      margin-top: 7vh;
    }

    .home-page__banner > img {
      width: 100%;
    }
  
    .home-page__blurb-content {
      margin-left: 2em;
      margin-top: 8em;
      width: 60%;
    }

    #blue-ellipse {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      margin-top: 16em;
      margin-left: 15em;
    }
  
    #shape-blue-black {
      position: absolute;
      bottom: -4vh;
      right: 0;
      display: block;
      width: 11%;
      z-index: 2;
    }

    .intro__blurb-description {
      font-size: 0.6em;
    }

    .intro__blurb-header--regular {
      font-size: 1.5em;
    }

    .intro__blurb-header--orange {
      font-size: 1.5em;
    }

}

/* iPad Pro Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  .home-page__blurb {
    background-position: -5rem -0.8rem;
    justify-content: center;
    background-size: 120%;
    margin-top: -6rem;
    z-index: -1;
    width: 50%;
  }

  .home-page__blurb-content {
    margin-left: 2.5em;
    margin-top: 10rem;
    width: 60%;
  }

  .home-page__banner { 
    width: 50%;
  }

  .home-page__banner img  { 
    width: 100%;
  }

  #blue-ellipse {
    position: absolute;
    margin-top: 22em;
    margin-left: 20em;
    width: 80px;
    height: 80px;
    display: block;
  }
}


/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .home-page__intro {
    flex-direction: row;
    
  }

    
  .home-page__banner {
    align-self: center;
    width: 100%;
    justify-content: center;
    order: 2;
    background-image: url("../img/home-page-intro.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .home-page__blurb {
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
    background-position: -7rem -7rem;
    justify-content: center;
    background-image: url("../img/home-page-ellipse-light-gray.svg");
    background-repeat: no-repeat;
    background-size: 121%;
    order: 1;
  }

    
  .home-page__blurb-content {
    display: flex;
    flex-direction: column;
    margin-left: 6em;
    margin-top: 10rem;
    width: 60%;
  }

  .intro__blurb-description {
    padding-top: 20px;
    width: 100%;
    line-height: 1.6em;
    font-size: 0.87em;
    color: #2F2F2F;
  }

  .intro__blurb-header--regular {
    font-size: 2.5em;
  }

  .intro__blurb-header--orange {
    color: #FF5B2A;
    font-weight: bold;
    font-size: 2.5em;
  }

  .home-page__banner > img {
    visibility: hidden;
  }

  #yellow-donut {
    display: none;
  }

  #yellow-donut {
    display: none;
  }

  #blue-ellipse {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    margin-top: 25em;
    margin-left: 30em;
  }

  .intro__blurb-learn {
    padding-top: 1.5rem;
    width: 30%;
    cursor: pointer;
  }

}
@media only screen and (max-width: 767px) {
  #shape-blue-black {
    display: none;
  }

  #blue-ellipse {
    position: absolute;
    margin-top: -6.5rem;
    margin-left: 2.5rem;
    width: 80px;
    height: 80px;
    display: block;
  }


  #yellow-donut {
    position: absolute;
    top: -13rem;
    left: -2rem;
    display: block;
    width: 80px;
    height: 80px;
  }


  .home-page__intro {
    display: flex;
    flex-direction: column;
  }

  .home-page__banner { 
    margin-top: 60px;
    order: 1;
    background-size: contain;
    background-position: 7.5rem;
    background-image: url("../img/home-page-intro-mobile-2x.png");
  }

  .home-page__blurb {
    order: 2;
    background-position: -2rem 2rem;
    justify-content: center;
    background-size: 120%;
    margin-top: -6rem;
    z-index: -1;
  }

  .intro__blurb-learn {
    padding-top: 1rem;
    width: 35%;
  }
  
  .intro__blurb-header--regular {
    font-size: 2em;
  }
  .intro__blurb-header--orange {
    font-size: 2em;
  }

  .home-page__blurb-content {
    margin-top: 7rem;
    margin-left: 2em;
    margin-bottom: 9.1rem;
  }
}

/* Company */
.home-page__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page__company-banner {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
}

.home-page__company-blurb {
  position: relative;
  width: 100%;
  background-color: #FBFAFA;
  padding: 8rem 4rem;
}

.company__blurb-content {
  display: flex;
  flex-direction: column;
}

.company__blurb-content h2 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.company__blurb-content .who-we-are {
  color: rgba(47, 47, 47, 1);
  font-weight: bold;
  font-family: 'Montserrat';
}

.company__blurb-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.company__blurb-header--regular {
  font-size: 1.5em;
  color: rgba(67, 67, 67, 1);
}

.company__blurb-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 1.5em;
}

#black-ellipse {
  position: absolute;
  top: -2vw;
  left: 27.5rem;
  width: 120px;
  height: 120px;
  z-index: -1;
}

#semi-circle-company {
  position: absolute;
  bottom: -7vh;
  left: 0;
  width: 190px;
  z-index: -1;
}


/* ----------- iPad Pro 10.5" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__company {
      flex-direction: row;
      
    }
    .home-page__company-banner {
      width: 53%;
    }
    .home-page__company-blurb { 
      width: 47%;
      padding: 8rem 4rem;
    }
    .home-page__company-banner #office {
      margin-right: 1vw;
      width: 450px;
    }
    #black-ellipse {
      top: -4vw;
      left: 40vw;
      width: 100px;
      height: 100px;
    }

    .company__blurb-content {
      width: 75%;
    }
    .company__blurb-content .who-we-are {
      font-size: 0.87em;
    }

    .company__blurb-description {
      font-size: 0.65em;
    }

    .company__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }

    .company__blurb-header--regular {
      font-size: 1.6em;
    }

    .company__blurb-header--orange {
      font-size: 1.6em;
    }

    
    #semi-circle-company {
      position: absolute;
      bottom: -3.5vh;
      left: 0;
      width: 140px;
      z-index: -1;
    }
}

/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .home-page__company {
      flex-direction: row;
      
    }
    .home-page__company-banner {
      width: 53%;
    }
    .home-page__company-blurb { 
      width: 47%;
      padding: 6rem 4rem;
    }
    .home-page__company-banner #office {
      margin-right: 1vw;
      width: 350px;
    }
    #black-ellipse {
      top: -4vw;
      left: 40vw;
      width: 100px;
      height: 100px;
    }

    .company__blurb-content .who-we-are {
      font-size: 0.77em;
    }

    .company__blurb-description {
      font-size: 0.6em;
    }

    .company__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }

    .company__blurb-header--regular {
      font-size: 1.5em;
      color: rgba(67, 67, 67, 1);
    }

    .company__blurb-header--orange {
      color: #FF5B2A;
      font-weight: bold;
      font-size: 1.5em;
    }

    
    #semi-circle-company {
      position: absolute;
      bottom: -3.5vh;
      left: 0;
      width: 140px;
      z-index: -1;
    }
}
/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

  .home-page__company-banner #office {
    margin-right: 0;
  }

  #black-ellipse {
    position: absolute;
    top: 0.5em;
    left: 21.8em;
    width: 120px;
    height: 120px;
    z-index: -1;
  }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .home-page__company {
    flex-direction: row;
  }
  .home-page__company-banner {
    width: 55%;
  }
  .home-page__company-blurb { 
    width: 45%;
    padding: 8rem 4rem;
  }
  .home-page__company-banner #office {
    margin-right: 5vw;
    width: 550px;
  }

  .company__blurb-content .who-we-are {
    font-size: 1em;
  }

  .company__blurb-description {
    font-size: 0.9em;
  }

  .company__blurb-header--regular {
    font-size: 1.8em;
  }

  .company__blurb-header--orange {
    font-size: 1.8em;
  }
  #black-ellipse {
    top: -3vw;
    left: 27.5rem;
    width: 120px;
    height: 120px;
  }

  #shape-blue-black {
    position: absolute;
    bottom: -10vh;
    right: 0;
    display: block;
    width: 11%;
    z-index: 2;
  }
}

@media only screen and (max-width: 767px) {
  .home-page__company-blurb {
    padding: 4rem 2rem;
  }
  .home-page__company-banner {
    margin-top: -4em;
    margin-bottom: 4em;
  }
  .home-page__company-banner #office {
    width: 105%;
    height: 105%;
  }
  #black-ellipse {
    top: -3rem;
    left: 16em;
    width: 90px;
    height: 90px;
  }
  #semi-circle-company {
    top: 14.55rem;
    left: 0;
    width: 120px;
  }
  .company__blurb-header--regular {
    font-size: 1em;
  }
  
  .company__blurb-header--orange {
    font-size: 1em;
  }
  
}

/* what we do */
#what-we-do {
  background-color: #F8F7F7;
}


.home-page__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-page__services-banner {
  position: relative;
  display: flex;
  width: 100%;
}

.home-page__services-blurb {
  position: relative;
  width: 100%;
}

.services__blurb-content {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.services__blurb-content h2 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.services__blurb-content .what-we-do {
  color: rgba(47, 47, 47, 1);
  font-weight: bold;
  font-family: 'Montserrat';
}

.services__blurb-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.services__blurb-header--regular {
  font-size: 1.5em;
  color: rgba(67, 67, 67, 1);
}

.services__blurb-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 1.5em;
}

/* ----------- iPad Pro 10.5" ----------- */
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__services {
      flex-direction: row;
      justify-content: flex-end;
      padding-bottom: 6rem;
    }
  
    .home-page__services-banner {
      width: 55%;
      justify-content: flex-end;
    }
    
    .home-page__services-blurb { 
      width: 45%;
    }
        
    .services__blurb-content {
      width: 80%;
    }
    .services__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }
    
    .services__blurb-content .what-we-do {
      font-size: 0.87em;
    }
    
    .services__blurb-description {
      font-size: 0.65em;
    }
    
    .services__blurb-header--regular {
      font-size: 1.6em;
    }

    .services__blurb-header--orange {
      font-size: 1.6em;
    }
  
    #paper-planes {
      width: 650px;
    }

    #pic-laptop {
      position: absolute;
      margin-right: 6rem;
      margin-top: 15.5rem;
      width: 30%;
    }
  
    #pic-hands {
      position: absolute;
      margin-right: 17rem;
      margin-top: 18.5rem;
      width: 25%;
    }
  
    #blue-ellipse-in-services {
      position: absolute;
      margin-right: 25rem;
      margin-top: 17rem;
      width: 55px;
      height: 55px;
      display: block;
    }
  
    #shape-quarter-donut {
      position: absolute;
      bottom: 0;
      left:0;
      width: 10%;
      display: block;
    }
  
    #shape-pink-donut {
      position: absolute;
      bottom: 0;
      right:0;
      margin-bottom: -2.5rem;
      margin-right: 2.5rem;
      width: 100px;
      display: block;
      z-index: 2;
    }
}
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__services {
      flex-direction: row;
      justify-content: flex-end;
      padding-bottom: 6rem;
    }
  
    .home-page__services-banner {
      width: 55%;
      justify-content: flex-end;
    }
    
    .home-page__services-blurb { 
      width: 45%;
    }
        
    .services__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }
    
    .services__blurb-content .what-we-do {
      font-size: 0.77em;
    }
    
    .services__blurb-description {
      font-size: 0.6em;
    }
    
    .services__blurb-header--regular {
      font-size: 1.3em;
      color: rgba(67, 67, 67, 1);
    }

    .services__blurb-header--orange {
      color: #FF5B2A;
      font-weight: bold;
      font-size: 1.3em;
    }
  
    #paper-planes {
      width: 450px;
    }

    #pic-laptop {
      position: absolute;
      margin-right: 5rem;
      margin-top: 12rem;
      width: 30%;
    }
  
    #pic-hands {
      position: absolute;
      margin-right: 14rem;
      margin-top: 14rem;
      width: 25%;
    }
  
    #blue-ellipse-in-services {
      position: absolute;
      margin-right: 20rem;
      margin-top: 12rem;
      width: 55px;
      height: 55px;
      display: block;
    }
  
    #shape-quarter-donut {
      position: absolute;
      bottom: 0;
      left:0;
      width: 10%;
      display: block;
    }
  
    #shape-pink-donut {
      position: absolute;
      bottom: 0;
      right:0;
      margin-bottom: -2.5rem;
      margin-right: 2.5rem;
      width: 100px;
      display: block;
      z-index: 2;
    }
}
/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .home-page__services-banner > img {
    width: 100%;
    margin-top: -4.5em;
  }
  
  .home-page__services {
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .services__blurb-content {
    padding-top: 4em;
  }

  #pic-laptop {
    position: absolute;
    margin-right: 7rem;
    margin-top: 12rem;
    width: 23%;
  }

  #pic-hands {
    position: absolute;
    margin-right: 17rem;
    margin-top: 14rem;
    width: 20%;
  }

  #blue-ellipse-in-services {
    position: absolute;
    margin-right: 26rem;
    margin-top: 12rem;
    width: 80px;
    height: 80px;
    display: block;
  }

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .home-page__services {
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 8rem;
    border: 1px solid green
  }

  .home-page__services-banner {
    width: 60%;
    justify-content: flex-end;
  }
  
  .home-page__services-blurb { 
    width: 40%;
  }

  .services__blurb-content {
    width: 100%;
  }

  .services__blurb-content .what-we-do {
    font-size: 1em;
  }

  .services__blurb-description {
    font-size: 0.9em;
    width: 80%;
  }
  
  .services__blurb-header--regular {
    font-size: 1.8em;
  }
  
  .services__blurb-header--orange {
    font-size: 1.8em;
  }

  #paper-planes {
    width: 900px;
  }

  #pic-laptop {
    position: absolute;
    margin-right: 9rem;
    margin-top: 24rem;
    width: 23%;
  }

  #pic-hands {
    position: absolute;
    margin-right: 22rem;
    margin-top: 26rem;
    width: 20%;
  }

  #blue-ellipse-in-services {
    position: absolute;
    margin-right: 33rem;
    margin-top: 24rem;
    width: 80px;
    height: 80px;
    display: block;
  }

  #shape-quarter-donut {
    position: absolute;
    bottom: 0;
    left:0;
    width: 10%;
    display: block;
  }

  #shape-pink-donut {
    position: absolute;
    bottom: 0;
    right:0;
    margin-bottom: -2.5rem;
    margin-right: 2.5rem;
    width: 100px;
    display: block;
    z-index: 2;
  }

}

@media only screen and (max-width: 767px) {
  .home-page__services-banner {
    order: 1
  }
  .home-page__services-blurb { 
    order: 2
  }
  #shape-quarter-donut {
    display: none;
  }

  #shape-pink-donut {
    position: absolute;
    margin-bottom: -4rem;
    margin-right: -15.5rem;
    width: 75px;
    display: block;
  }

  #paper-planes {
    width: 105%;
    margin-left: -1rem;
  }
  #pic-laptop {
    position: absolute;
    margin-left: 11rem;
    margin-top: 12rem;
    width: 32%;
  }

  #pic-hands {
    position: absolute;
    margin-left: 4rem;
    margin-top: 15rem;
    width: 25%;
  }


  #blue-ellipse-in-services {
    position: absolute;
    left: -2rem; 
    margin-top: 12rem;
    width: 80px;
    height: 80px;
    display: block;
  }
  .services__blurb-content {
    padding-top: 6rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
  }

  .services__blurb-header--regular {
    font-size: 1em;
  }
  
  .services__blurb-header--orange {
    font-size: 1em;
  }
}

/* Products - what we offer */

.home-page__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page__product-banner {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  padding: 4rem 0;
  background-image: url("../img/bg-yellow.svg");

}

.home-page__product-carousel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-page__product-carousel .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.carousel__header {
  display: flex;
  flex-direction: row;
}

.carousel__header #bellhop-logo {
  align-self: flex-start;
  width: 30%;
}

.carousel__header .text {
  align-self: center;
  font-weight: 300;
  padding-left: 20px;
}

.home-page__product-carousel .button {
  align-self: flex-end;
  margin-right: 8rem;
  cursor: pointer;
}

.home-page__product-blurb {
  position: relative;
  width: 100%;
  padding: 8rem 4rem;
}

.product__blurb-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.product__blurb-content h2 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.product__blurb-content .what-we-offer {
  color: rgba(47, 47, 47, 1);
  font-weight: bold;
  font-family: 'Montserrat';
}

.product__blurb-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.product__blurb-header--regular {
  font-size: 1.5em;
  color: rgba(67, 67, 67, 1);
}

.product__blurb-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 1.5em;
}

#shape-qtr-ellipse-black {
  position: absolute;
  bottom:0;
  left:0;
  width: 20%;
}

#shape-qtr-ellipse-teal {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

#shape-blue-yellow {
  position: absolute;
  bottom: -5.8rem;
  right: 0;
  width: 150px;
}

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__product-carousel {
      width: 80%;
      padding-left: 10px
    }
  
    .home-page__product-carousel .swiper-slide {
      padding-bottom: 50px;
    }
  
    .carousel-button {
      align-self: flex-end;
      margin-right: 10em;
      cursor: pointer;
      width: 70px; 
      font-family: acumin-pro, sans-serif;
    }
  
    .carousel-button > a > img {
      width: 180px; 
    }

    #mobile-phones {
      width: 80px;
    }

    .carousel__header .text {
      align-self: center;
      font-weight: 100;
      font-size: 0.76em;
    }

    .home-page__product {
      flex-direction: row;
    }
  
    .home-page__product-banner {
      width: 55%;
    }
  
    .home-page__product-blurb {
      width: 45%;
      padding: 4rem 2rem;
    }
  
    .home-page__product-carousel {
      width: 100%;
    }


    #mobile-phones {
      width: 100%;
    }
  
    .product__blurb-content { 
      width: 70%;
      padding-left: 2em;
    }

    .product__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }
    
    .product__blurb-content .what-we-offer {
      font-size: 0.87em;
    }
    
    .product__blurb-description {
      font-size: 0.65em;
    }
    
    .product__blurb-header--regular {
      font-size: 1.6em;
    }
    
    .product__blurb-header--orange {
      font-size: 1.6em;
    }
    
    #shape-blue-yellow {
      bottom: -9rem;
      right: 0;
      width: 150px;
    }
}
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__product-carousel .swiper-slide {
      padding-bottom: 20px;
    }

    .carousel-button {
      align-self: flex-end;
      margin-right: 5em;
      cursor: pointer;
      width: 70px; 
      font-family: acumin-pro, sans-serif;
    }

    .carousel-button > a > img {
      width: 150px; 
    }

    .carousel__header .text {
      align-self: center;
      font-weight: 100;
      font-size: 0.76em;
    }

    .home-page__product {
      flex-direction: row;
    }
  
    .home-page__product-banner {
      width: 55%;
    }
  
    .home-page__product-blurb {
      width: 45%;
      padding: 4rem 2rem;
    }
  
    .home-page__product-carousel {
      width: 400px;
    }


    #mobile-phones {
      width: 100%;
    }
  
    .product__blurb-content { 
      width: 100%;
      padding-left: 2em;
    }

    .product__blurb-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }
    
    .product__blurb-content .what-we-offer {
      font-size: 0.77em;
    }
    
    .product__blurb-description {
      font-size: 0.6em;
    }
    
    .product__blurb-header--regular {
      font-size: 1.3em;
    }
    
    .product__blurb-header--orange {
      font-size: 1.3em;
    }
    
    #shape-blue-yellow {
      bottom: -6.5rem;
      right: 0;
      width: 150px;
    }
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .home-page__product-banner {
    width: 55%;
  }

  .home-page__product-blurb {
    width: 45%;
  }

  .home-page__product-carousel > img {
    width: 100%;
  }

  .home-page__product-blurb { 
    padding: 4rem 0;
  }
    
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .carousel-button {
    width: 150px;
  }

  .home-page__product {
    flex-direction: row;
  }

  .home-page__product-banner {
    width: 55%;
  }

  .home-page__product-blurb {
    width: 45%;
  }

  .home-page__product-carousel {
    width: 80%;
  }

  .home-page__product-carousel .swiper-slide {
    padding-bottom: 50px;
  }

  .carousel-button {
    align-self: flex-end;
    margin-right: 5em;
    cursor: pointer;
    width: 70px; 
    font-family: acumin-pro, sans-serif;
  }

  .carousel-button > a > img {
    width: 170px; 
  }

  #mobile-phones {
    width: 95%;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .product__blurb-content { 
    width: 60%;
    padding-left: 2em;
  }

  .product__blurb-content .what-we-offer {
    font-size: 1em;
  }
  
  .product__blurb-description {
    font-size: 0.9em;
  }
  
  .product__blurb-header--regular {
    font-size: 1.8em;
  }
  
  .product__blurb-header--orange {
    font-size: 1.8em;
  }

  #shape-blue-yellow {
    position: absolute;
    bottom: -10.8rem;
    right: 0;
    width: 150px;
  }
  
}

@media only screen and (max-width: 767px) {
  #shape-blue-yellow {
    display: none;
  }

  .product__blurb-header--regular {
    font-size: 1em;
  }
  
  .product__blurb-header--orange {
    font-size: 1em;
  }
  
  .home-page__product-blurb {
    width: 100%;
    padding: 2rem;
  }
  .product__blurb-content {
    width: 100%;
    padding-top: 2rem;
  }
  .home-page__product-banner {
    padding: 2.5rem;
  }

  .home-page__product-carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .home-page__product-carousel .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .home-page__product-carousel .swiper-slide {
    padding-bottom: 50px;
  }

  .carousel-button {
    align-self: flex-end;
    margin-right: 5em;
    cursor: pointer;
    width: 70px; 
    font-family: acumin-pro, sans-serif;
  }

  .carousel-button > a > img {
    width: 100px; 
  }

  #mobile-phones {
    width: 83%;
    padding-bottom: 20px;
    padding-left: 30px;
  }
}

/* Blog */
.home-page__blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFAFA;
  padding: 4rem;
}

.page__blog-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.page__blog-header h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2F2F2F;
  font-size: 20px;
  padding-bottom: 10px;
}

.page__blog-header .subheader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.page__blog-header .subheader a {
  position: absolute;
  right: 0;
  color: #FF5B2A;
  font-size: 0.65em;
  text-decoration: none;
}

.page__blog-header--regular {
  font-size: 1.5em;
  color: rgba(67, 67, 67, 1);
}

.page__blog-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 1.5em;
}

.page__blog-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page__blog-content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: inherit;
  margin-right: 50px;
  padding-bottom: 20px;
}

.page__blog-content .card > img {
  width: inherit;
  margin-bottom: 10px;
}

.page__blog-content .card > span, .page__blog-content .card  a{
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.page__blog-content .card > .date {
  color: #CCCCCC;
  font-size: 0.75em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page__blog-content .card > .summary {
  color: #404040;
  font-size: 0.6em;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.page__blog-content .card > .title {
  color: #404040;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 10px;
}

.page__blog-content .card > .read-more {
  color: #404040;
  font-size: 0.7em;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: none;
}

.page__blog-content :last-of-type {
  margin-right: 0;
}


#blog-teal-ellipse  {
  position: absolute;
  top: 80px;
  right: 0;
  overflow: hidden;
}

#blog-teal-ellipse > img {
  width: 80px;
  margin-right: -50px;
}


#blog-yellow-donut {
  position: absolute;
  bottom: 200px;
  left: -30px;
  width: 100px;
}

@media only screen and (max-width: 767px) {
  .page__blog-content {
    flex-direction: column;
  }

  .home-page__blog {
    padding: 2rem;
  }
  .page__blog-content .card {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  #blog-teal-ellipse {
    display: none;
  }

  #blog-yellow-donut {
    display: none;
  }

  .page__blog-header .subheader {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .page__blog-header .subheader a {
    position: relative;
    left: 0;
  }
  
  
}
/* Contact Us */


.home-page__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page__contact-banner {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
  padding: 4rem 0;
  background-image: url("../img/bg-teal.svg");
}

.page__contact-form {
  background-color: white;
  border: solid 1px white;
  border-radius: 30px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.page__contact-form .header {
  color: #434343;
  font-weight: bold;
  padding-bottom: 10px;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'], .form-row textarea  {
  background-color: #F8F7F7;
  border: 1px solid #D6D9DC;
  border-radius: 16px;
  width: 300px;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.form-row label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}
.form-row a {
  margin-top: 20px;
}

.form-row a > img {
  width: 150px;
}

.home-page__contact-blurb {
  position: relative;
  width: 100%;
  padding: 8rem 4rem;
}

.page__contact-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.page__contact-content h2 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.page__contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.page__contact-details .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #2F2F2F;
  font-size: 12.5px;
  margin-right: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.page__contact-details .row > img {
  width: 25px;
  margin-right: 20px;
  align-self: center;
  justify-self: center;
}

.page__contact-content .contact-us {
  color: rgba(47, 47, 47, 1);
  font-weight: bold;
}

.page__contact-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.page__contact-header--regular {
  font-size: 1.5em;
  color: rgba(67, 67, 67, 1);
}

.page__contact-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 1.5em;
}

.contact__blurb-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact__blurb-content .contact-us {
  color: rgba(47, 47, 47, 1);
  font-weight: bold;
  font-family: 'Montserrat';
}

#shape-adj-ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -4.66rem;
  margin-left: -4.25rem;
  width: 170px;
}

#shape-ellipse-blue {
  position: absolute;
  top: 0;
  left: -8rem;
  z-index: 1;
  width: 45%;
}

#shape-qtr-yellow-donut{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 20%;
}

/* ----------- iPad Pro 10.5" ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__contact {
      flex-direction: row;
      
    }
  
    .home-page__contact-banner {
      width: 55%;
    }
  
    .home-page__contact-blurb {
      width: 45%;
    }

    .page__contact-content {
      width: 100%;
    }

    .page__contact-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }

    .page__contact-content .contact-us {
      font-size: 0.77em;
    }
    
    .page__contact-description {
      font-size: 0.6em;
    }
    
    .page__contact-header--regular {
      font-size: 1.3em;
    }
    
    .page__contact-header--orange {
      font-size: 1.3em;
    }

    .page__contact-form {
      padding: 2rem;
    }

    .form-row {
      margin-bottom: 5px;
    }

    .form-row input[type='text'], .form-row textarea  {
      width: 270px;
      font-size: 12px;
    }

    .form-row label {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    #shape-adj-ellipse {
      bottom: 0;
      left: 0;
      margin-bottom: -1.7em;
      margin-left: -5em;
      width: 40%;
    }

    #shape-ellipse-blue {
      top: 0;
      left: -4em;
      z-index: 1;
      width: 45%;
    }

}
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-height: 1112px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .home-page__contact {
      flex-direction: row;
      
    }
  
    .home-page__contact-banner {
      width: 55%;
    }
  
    .home-page__contact-blurb {
      width: 45%;
    }

    .page__contact-content {
      width: 100%;
    }

    .page__contact-content h2 {
      padding-top: 1.5vh;
      font-size: 1em;
    }

    .page__contact-content .contact-us {
      font-size: 0.77em;
    }
    
    .page__contact-description {
      font-size: 0.6em;
    }
    
    .page__contact-header--regular {
      font-size: 1.3em;
    }
    
    .page__contact-header--orange {
      font-size: 1.3em;
    }

    .page__contact-form {
      padding: 2rem;
    }

    .form-row {
      margin-bottom: 5px;
    }

    .form-row input[type='text'], .form-row textarea  {
      width: 250px;
      font-size: 12px;
    }

    .form-row label {
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    #shape-adj-ellipse {
      bottom: 0;
      left: 0;
      margin-bottom: -1.1em;
      margin-left: -3.75em;
      width: 40%;
    }

    #shape-ellipse-blue {
      top: 0;
      left: -4em;
      z-index: 1;
      width: 45%;
    }
    
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  .home-page__contact {
    flex-direction: row;
    
  }

  .home-page__contact-banner {
    width: 55%;
  }

  .home-page__contact-blurb {
    width: 45%;
  }

  .page__contact-form {
    padding: 4rem;
  }
  .page__contact-form .header {
    padding-bottom: 10px;
  }
  .form-row {
    margin-bottom: 10px;
  }
  .form-row input[type='text'], .form-row textarea  {
    width: 300px;
    padding: 10px;
    font-size: 14px;
  }
  .form-row label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .form-row a {
    margin-top: 20px;
  }
  
  .form-row a > img {
    width: 150px;
  }
  
  .home-page__contact-blurb {
    padding: 8rem 4rem;
  }

  .page__contact-content {
    width: 80%;
  }
  
  .page__contact-details .row {
    font-size: 12.5px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .page__contact-details .row > img {
    width: 25px;
    margin-right: 20px;
  }

  .contact__blurb-content .contact-us {
    font-size: 1em;
  }

  .page__contact-description {
    font-size: 0.9em;
  }
  
  .page__contact-header--regular {
    font-size: 1.8em;
  }
  
  .page__contact-header--orange {
    font-size: 1.8em;
  }

  #shape-adj-ellipse {
    margin-bottom: -5.9em;
    margin-left: -4.3em;
    width: 170px;
  }
  
}

/* iPad Pro Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {

  #shape-adj-ellipse {
    margin-bottom: -0.8rem;
    margin-left: -4.30rem;
  }

  .main-footer__title-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 100em;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .home-page__contact-banner {
    order: 2;
  
  }
  .home-page__contact-blurb {
    width: 100%;
    padding: 2rem;
    order: 1;
  }
  .product__blurb-header--regular {
    font-size: 1em;
  }
  
  .product__blurb-header--orange {
    font-size: 1em;
  }

  .page__contact-form .header {
    font-size: 0.7rem;
  }


  .page__contact-form {
    width: 80%;
    padding: 2rem;
  }

  .form-row input[type='text'], .form-row textarea  {
    border-radius: 16px;
    width: 220px;
    padding: 8px;
    font-size: 11px;
  }

  .form-row label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 11px;
  }
  .form-row a {
    margin-top: 20px;
  }

  .form-row a > img {
    width: 100px;
  }

  #shape-ellipse-blue {
    width: 60%;
    left: -6rem;

  }
}

/* main header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 5vw;
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000F;

}

.main-header__content {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}


/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .main-header__content {
    margin: 0 auto;
  }
}
.main-header__title {
  display: flex;
  align-items: center;
  /* background-color: #F09A9D; */
  padding-right: 50px;
}
.main-header__title-logo {
  width: 170px;
}
@media only screen and (max-width: 560px) {
  .main-header__title-logo {
    width: 150px;
  }
}
.main-header__title-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.main-header__menu {
  display: none;
  flex: 1;
  justify-content: flex-start;
  /* background-color: #F5CF8E; */
}
@media only screen and (min-width: 835px) {
  .main-header__menu {
    display: block;
  }
}
.main-header__menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.main-header__menu > ul > li {
  text-align: center;
}
.main-header__menu > ul > li > a {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: 1080px) {
  .main-header__menu > ul > li > a {
    /* padding-left: 15px; */
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    font-size: 0.70rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1419px) {
  .main-header__menu {
    width: 47%;
  }
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.70rem;
  }
}
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.70rem;
  }
}

.main-header__contact {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #F09A9D; */
}

@media only screen and (min-width: 768px) {
  .main-header__contact {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1419px) {
  .main-header__contact {
    padding: 0;
    width: auto;
  }
}
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .main-header__contact {
    padding: 0;
  }
}
.main-header__contact > ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 22.5rem;
}
.main-header__contact > ul > li {
  width: 48.5%;
  max-width: 11.0625rem;
  height: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .main-header__contact--only-desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header__contact--only-desktop {
    display: none;
  }
}

.main-header__contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  padding: 0 25px;

}
.main-header__contact-button {
  width: 150px;
  height: 48px;
}

#mb-nav-wrp {
  display: none;
}

#mb-nav-wrp {
  display: none;
}
@media only screen and (max-width: 834px) {
  #mb-nav-wrp {
    display: block;
  }
}
#mb-nav-wrp #mb-nav-tgl {
  display: none;
}
#mb-nav-wrp label {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}
#mb-nav-wrp .mb-nav-open {
  z-index: 99999;
  width: 60px;
  height: 65px;
  margin-right: 3vw;
  transition: background 0.5s,
    transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25);
}
@media only screen and (max-width: 560px) {
  #mb-nav-wrp .mb-nav-open {
    height: 55px;
  }
}
#mb-nav-wrp .mb-nav-open::before,
#mb-nav-wrp .mb-nav-open::after {
  content: "";
}
#mb-nav-wrp .mb-nav-open span,
#mb-nav-wrp .mb-nav-open::before,
#mb-nav-wrp .mb-nav-open::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 3px solid #1f1f1f;
  border-radius: 4px;
  /* transition: transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25); */
}
#mb-nav-wrp .mb-nav-open::before {
  transform: translateY(-8px);
}
#mb-nav-wrp .mb-nav-open::after {
  transform: translateY(8px);
}
#mb-nav-wrp .mb-nav-close {
  z-index: 999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.5s;
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open span {
  transform: scaleX(0);
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::before {
  transform: rotate(45deg);
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::after {
  transform: rotate(-45deg);
}
#mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav-close {
  background: rgba(255, 255, 255, 0.95);
}

#mb-nav-wrp .mb-nav {
  z-index: 9999;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6%;
  margin: 0;
  box-sizing: border-box;
  transform: translateY(-100vh);
  transition: transform 0.5s cubic-bezier(0.33, 1.01, 0.33, 0.97);
}
#mb-nav-wrp .mb-nav .main-nav {
  margin-top: 5vh;
}
#mb-nav-wrp .mb-nav .main-nav li a {
  text-align: center;
  line-height: 1;
  padding-top: 50px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: inherit;
}

#mb-nav-wrp .mb-nav .main-nav li:last-of-type {
  padding-bottom: 50px;
}

#mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav {
  transform: none;
}

.main-content {
  width: 100%;
  /* margin: 55px 0 7rem 0; */
}
/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  .main-content {
    margin-top: 89px;
  }
}

/* main footer */

.main-footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px 5vw;
  background-color: #FBFAFA;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}

.main-footer__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-footer__title-back {
  font-size: 0.6rem;
  display: none;
  text-decoration: none;
  color: #1f1f1f;
}

.main-footer__content {
  display: flex;
  align-self: end;
  flex-direction: column;
  padding-right: 3rem;
  line-height: 0.8rem;
}

.main-footer__content--direction {
  display: flex; 
  flex-direction: row;
}
.main-content__content-font {
  font-size: 0.6rem;
  color: #434343;
}
.main-footer__title-logo {
  width: 100%;
  padding-right: 50px;
}

.main-footer__title-logo > img {
  width: 200px;
}

.main-footer__sns {
  width: 100%;
}

.main-footer__sns > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.10rem;
  height: 100%;
}

.main-footer__sns li:first-of-type {
  padding-left: 20px;
}

.main-footer__sns img {
  width: 13px;
  height: 13px;
}

#sns-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  display: none;
}

#sns-nav > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#sns-nav img {
  width: 30px;
  height: 30px;
}


@media only screen and (max-width: 767px) {
  #sns-nav {
    display: flex;
  }
  .main-footer__title-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    flex-direction: column;
  }

  .main-footer__content--direction {
    display: flex; 
    flex-direction: column;
  }

  .main-footer__sns img {
    width: 20px;
    height: 20px;
  }

  .main-footer__title-logo > img {
    width: 150px;
  }

  .main-footer__content {
    line-height: 1.5rem;
  }

}