@import url(../css/normalize.css);
html {
  box-sizing: border-box;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Acumin Pro", sans-serif;
  font-size: 100%;
  color: #1f1f1f;
}
a,
button {
  transition: all 0.3s ease;
}
input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.home-page__container {
  max-width: 1420px;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.home-page__intro {
  display: flex;
  flex-direction: row;
}

.home-page__banner {
  align-self: center;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: center;
  order: 2;
  background-image: url("../img/home-page-intro.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.home-page__blurb {
  width: 100%;
  /* border: 1px solid black; */
  background-position: -7rem -7rem;
  justify-content: center;
  background-image: url("../img/home-page-ellipse-light-gray.svg");
  background-repeat: no-repeat;
  background-size: 121%;
  order: 1;
}

.home-page__blurb-header {
  display: flex;
  flex-direction: row;
}

.home-page__blurb-content {
  display: flex;
  flex-direction: column;
  margin-left: 6em;
  margin-top: 10rem;
  width: 60%;
}

.intro__blurb-description {
  padding-top: 20px;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.87em;
  color: #2F2F2F;
}

.intro__blurb-header--regular {
  font-size: 2.5em;
}

.intro__blurb-header--orange {
  color: #FF5B2A;
  font-weight: bold;
  font-size: 2.5em;
}

.home-page__banner > img {
  visibility: hidden;
}

#yellow-donut {
  display: none;
}

#blue-ellipse {
  position: absolute;
  margin-top: 35%;
  margin-left: 40%;
  width: 8%;
  height: 70px;
}

.intro__blurb-learn {
  padding-top: 1.5rem;
  width: 30%;
  cursor: pointer;
}

@media only screen and (min-width: 1420px) {
  .home-page__banner {
    background-image: url("../img/home-page-intro-2x.png");
  }
}

@media only screen and (max-width: 767px) {

  #blue-ellipse {
    margin-top: 60%;
    margin-left: 8%;
    width: 90px;
    width: 90px;
  }

  #yellow-donut {
    position: absolute;
    top: 7rem;
    left: -2rem;
    display: block;
  }

  #yellow-donut img {
    width: 90px;
    width: 90px;
  }

  .home-page__intro {
    display: flex;
    flex-direction: column;
  }

  .home-page__banner { 
    margin-top: 60px;
    order: 1;
    background-size: contain;
    background-position: 7.5rem;
    background-image: url("../img/home-page-intro-mobile-2x.png");
  }

  .home-page__blurb {
    order: 2;
    background-position: 0 2rem;
    justify-content: center;
    background-size: 120%;
    margin-top: -7rem;
    z-index: -1;
  }

  .intro__blurb-learn {
    padding-top: 1rem;
    width: 35%;
  }
  
  .intro__blurb-header--regular {
    font-size: 2em;
  }
  .intro__blurb-header--orange {
    font-size: 2em;
  }

  .home-page__blurb-content {
    margin-top: 7rem;
    margin-left: 4em;
    margin-bottom: 9.1rem;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 5vw;
  background-color: #fff;
  box-shadow: 0px 3px 6px #0000000F;

}

.main-header__content {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}

@media only screen and (min-width: 1420px) {
  .main-header__content {
    margin: 0 auto;
  }
}
.main-header__title {
  display: flex;
  align-items: center;
  /* background-color: #F09A9D; */
  padding-right: 50px;
}
.main-header__title-logo {
  width: 170px;
}
@media only screen and (max-width: 560px) {
  .main-header__title-logo {
    width: 150px;
  }
}
.main-header__title-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.main-header__menu {
  display: none;
  flex: 1;
  justify-content: flex-start;
  /* background-color: #F5CF8E; */
}
@media only screen and (min-width: 768px) {
  .main-header__menu {
    display: block;
  }
}
.main-header__menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.main-header__menu > ul > li {
  text-align: center;
}
.main-header__menu > ul > li > a {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  color: inherit;
}
@media only screen and (min-width: 1080px) {
  .main-header__menu > ul > li > a {
    /* padding-left: 15px; */
    padding-right: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    font-size: 0.70rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1419px) {
  .main-header__menu {
    width: 47%;
  }
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.70rem;
  }
}
@media only screen and (min-width: 1420px) {
  .main-header__menu--hidden {
    display: block;
  }
  .main-header__menu > ul {
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.70rem;
  }
}

.main-header__contact {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0.6rem;
  /* background-color: #F09A9D; */
}

@media only screen and (min-width: 768px) {
  .main-header__contact {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1419px) {
  .main-header__contact {
    padding: 0;
    width: auto;
  }
}
@media only screen and (min-width: 1420px) {
  .main-header__contact {
    font-size: 0.70rem;
    padding: 0;
  }
}
.main-header__contact > ul {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 22.5rem;
}
.main-header__contact > ul > li {
  width: 48.5%;
  max-width: 11.0625rem;
  height: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .main-header__contact--only-desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-header__contact--only-desktop {
    display: none;
  }
}

.main-header__contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  padding: 0 25px;

}
.main-header__contact-button {
  margin-right: 0.5rem;
  width: 150px;
  height: 48px;
}

#mb-nav-wrp {
  display: none;
}

#mb-nav-wrp {
  display: none;
}
@media only screen and (max-width: 767px) {
  #mb-nav-wrp {
    display: block;
  }
}
#mb-nav-wrp #mb-nav-tgl {
  display: none;
}
#mb-nav-wrp label {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}
#mb-nav-wrp .mb-nav-open {
  z-index: 99999;
  width: 60px;
  height: 65px;
  margin-right: 3vw;
  transition: background 0.5s,
    transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25);
}
@media only screen and (max-width: 560px) {
  #mb-nav-wrp .mb-nav-open {
    height: 55px;
  }
}
#mb-nav-wrp .mb-nav-open::before,
#mb-nav-wrp .mb-nav-open::after {
  content: "";
}
#mb-nav-wrp .mb-nav-open span,
#mb-nav-wrp .mb-nav-open::before,
#mb-nav-wrp .mb-nav-open::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 3px solid #1f1f1f;
  border-radius: 4px;
  /* transition: transform 0.5s cubic-bezier(0.76, 0.52, 0.29, 1.25); */
}
#mb-nav-wrp .mb-nav-open::before {
  transform: translateY(-8px);
}
#mb-nav-wrp .mb-nav-open::after {
  transform: translateY(8px);
}
#mb-nav-wrp .mb-nav-close {
  z-index: 999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.5s;
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open span {
  transform: scaleX(0);
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::before {
  transform: rotate(45deg);
}
#mb-nav-wrp #mb-nav-tgl:checked + .mb-nav-open::after {
  transform: rotate(-45deg);
}
#mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav-close {
  background: rgba(255, 255, 255, 0.95);
}

#mb-nav-wrp .mb-nav {
  z-index: 9999;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6%;
  margin: 0;
  box-sizing: border-box;
  transform: translateY(-100vh);
  transition: transform 0.5s cubic-bezier(0.33, 1.01, 0.33, 0.97);
}
#mb-nav-wrp .mb-nav .main-nav {
  margin-top: 5vh;
}
#mb-nav-wrp .mb-nav .main-nav li a {
  text-align: center;
  line-height: 1;
  padding-top: 80px;
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: inherit;
}

#mb-nav-wrp .mb-nav .main-nav li:last-of-type {
  padding-bottom: 100px;
}

#mb-nav-wrp #mb-nav-tgl:checked ~ .mb-nav {
  transform: none;
}

.main-content {
  width: 100%;
  /* margin: 55px 0 7rem 0; */
}
@media only screen and (min-width: 1024px) {
  .main-content {
    margin-top: 89px;
  }
}

.main-footer {
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px 5vw;
  background-color: #FBFAFA;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}

.main-footer__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-footer__title-back {
  font-size: 0.6rem;
  display: none;
  text-decoration: none;
  color: #1f1f1f;
}

.main-footer__content {
  display: flex;
  align-self: end;
  flex-direction: column;
  padding-right: 3rem;
  line-height: 0.8rem;
}

.main-footer__content--direction {
  display: flex; 
  flex-direction: row;
}
.main-content__content-font {
  font-size: 0.6rem;
  color: #434343;
}
.main-footer__title-logo {
  width: 100%;
  padding-right: 50px;
}

.main-footer__title-logo > img {
  width: 200px;
}

.main-footer__sns {
  width: 100%;
}

.main-footer__sns > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.10rem;
  height: 100%;
}

.main-footer__sns li:first-of-type {
  padding-left: 20px;
}

.main-footer__sns img {
  width: 13px;
  height: 13px;
}

#sns-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  border: 1px solid black;
  display: none;
}

#sns-nav > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#sns-nav img {
  width: 30px;
  height: 30px;
}


@media only screen and (max-width: 767px) {
  #sns-nav {
    display: flex;
  }
  .main-footer__title-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    flex-direction: column;
  }

  .main-footer__content--direction {
    display: flex; 
    flex-direction: column;
  }

  .main-footer__sns img {
    width: 20px;
    height: 20px;
  }

  .main-footer__title-logo > img {
    width: 150px;
  }

  .main-footer__content {
    line-height: 1.5rem;
  }

}